<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Roboto:wght@100;400;700&display=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' type='text/css' href='/stylesheets/jquery-ui.css' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />

    <title>Work It Done</title>
  </head>

  <body class='lt-on-blue'>
    <div class='container lt-on-green'>

      <header class='flex-row'>

        <a href='/'>
          <h1>WORK IT DONE</h1>
        </a>

        <nav>
          {{#if loggedIn}}

            <button id='logout-button'>Logout</button>
          {{/if}}

        </nav>
      </header>

      <div class='separator'></div>

      <div class='contents'>
        {{{body}}}
      </div>

      <div id='popup' title=''></div>

    </div>
    <script src='https://code.jquery.com/jquery-3.6.0.js'></script>
    <script src='https://code.jquery.com/ui/1.13.0/jquery-ui.js'></script>
    <script type='text/javascript' src='/javascript/dialog.js'></script>
  </body>
</html>