<h2>Your dashboard</h2>

<a href='/project/'><h3>Create a new project</h3></a>

<h3>Your project list</h3>
<ol>
  {{#each projects}}
    <li><a href='/project/{{id}}'>{{name}}</a></li>
  {{/each}}
</ol>