<div>
  <h2>Welcome to Work It Done</h2>
  <h3>Work It Done helps you get your organized. Whether keeping yourself on task or collaborating as a team, Work It
    Done can assist you with keeping notes or tracking your progress through a large project.

    <a href='/login'>Log in today</a>
    to start optimizing your workflow.
  </h3>

</div>