<header>
  <h2>Project Name</h2>
  <div>
    <button>Save Changes</button>
    <button>Delete Board</button>
  </div>

</header>

<div class='column-container'>

  <div class='column-wrapper'>

    <h3>Column 1 Name</h3>
    <ul id='column-1' class='column'>
      <li class='card'>
        <div class='card-toggle'>
          <h3>Task 1</h3>
          <div>
            <p>information</p>
            <button>edit</button>
            <button>delete</button>
          </div>
        </div>
      </li>
      <li class='card'>
        <div class='card-toggle'>
          <h3>Task 1</h3>
          <div>
            <p>information</p>
            <button>edit</button>
            <button>delete</button>
          </div>
        </div>
      </li>
      <li class='card'>
        <div class='card-toggle'>
          <h3>Task 1</h3>
          <div>
            <p>information</p>
            <button>edit</button>
            <button>delete</button>
          </div>
        </div>
      </li>
      <li class='card'>
        <div class='card-toggle'>
          <h3>Task 1</h3>
          <div>
            <p>information</p>
            <button>edit</button>
            <button>delete</button>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class='column-wrapper'>
    <h3>Column 2 Name</h3>
    <ul id='column-1' class='column'>
      <li class='card'>
        <div class='card-toggle'>
          <h3>Task 1</h3>
          <div>
            <p>information</p>
            <button>edit</button>
            <button>delete</button>
          </div>
        </div>
      </li>
      <li class='card'>
        <div class='card-toggle'>
          <h3>Task 1</h3>
          <div>
            <p>information</p>
            <button>edit</button>
            <button>delete</button>
          </div>
        </div>
      </li>
      <li class='card'>
        <div class='card-toggle'>
          <h3>Task 1</h3>
          <div>
            <p>information</p>
            <button>edit</button>
            <button>delete</button>
          </div>
        </div>
      </li>
      <li class='card'>
        <div class='card-toggle'>
          <h3>Task 1</h3>
          <div>
            <p>information</p>
            <button>edit</button>
            <button>delete</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<script src='https://code.jquery.com/jquery-3.6.0.js'></script>
<script src='https://code.jquery.com/ui/1.13.0/jquery-ui.js'></script>

<script type='text/javascript' src='/javascript/project.js'></script>