:root {
  --primary: #6bffe6;
  --complementary: #8f3511;
  --background: #1f8f7c; /* Consider off-white */
  --typeface: #1a1a1a;
}

* {
  box-sizing: border-box;
}

html,
body {
}

div {
  border: 1px solid black;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  margin-block-start: 0;
  padding-inline-start: 0;
}

#workspace-page {
  display: flex;
  height: 100%;
}
#project-list {
  width: 200px;
}
#project-workspace {
  flex: 1;
}
.column-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.column-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

#login-page {
}
